<%- include('../partials/header.ejs') %>
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
      <i class="fas fa-download fa-sm text-white-50"></i>
      Generate Report
    </a>
  </div>
  <!-- Card Date -->
  <form action="" id="dateForm">
    <div class="card">
      <div class="card-header">
        <span style="color:#4e73df; font-weight: bold;">
          Date Settings
        </span>
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="inputStartDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="endDate">
          </div>
          <div class="col-md-6">
            <label for="inputEndDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="endDate" name="endDate">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-md btn-success btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-solid fa-check"></i>
          </span>
          <span class="text">Query</span>
        </button>
        <button class="btn btn-md btn-warning btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-solid fa-arrow-left"></i>
          </span>
          <span class="text">Reset</span>
        </button>
      </div>
    </div>
  </form>
  <br>
  <!-- Purchases, Sales, Earnings, Total Sales Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Purchases</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <%= purchases.tp %>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Sales</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <%= sales.ts %>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                Earnings</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <%= sales.ts - purchases.tp%>.00
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                Total Sales</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <%= total.totalsales %>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Row -->

  <!-- Chart Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-line">
            <canvas id="myLineChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="myDoughnutChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Direct
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Customer
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Row -->

  <!-- Table Row -->
  <div class="card">
    <div class="card-header">
      <h6 class="m-0 font-weight-bold text-primary">Earnings Monthly Report</h6>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-bordered" id="dataTable">
        <thead>
          <tr>
            <th width="13%">Monthly</th>
            <th>Expense</th>
            <th>Revenue</th>
            <th>Earning</th>
          </tr>
        </thead>
        <tbody>
          <% tableData.forEach(item=> { %>
            <tr>
              <td>
                <%= item.monthly %>
              </td>
              <td>
                <%= item.expense %>
              </td>
              <td>
                <%= item.revenue %>
              </td>
              <td>
                <%= item.revenue - item.expense %>.00
              </td>
            </tr>
            <% }) %>
        </tbody>
        <tfoot>
          <tr>
            <th width="13%">Total</th>
            <th>
              <%= purchases.tp %>
            </th>
            <th>
              <%= sales.ts %>
            </th>
            <th>
              <%= sales.ts - purchases.tp %>.00
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <br>
  <%- include('../partials/chart.ejs') %>

    <%- include('../partials/footer.ejs') %>