<%- include('../partials/header.ejs') %>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Units</h1>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>
                <%= cardheader %>
            </h4>
        </div>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-4">
                    <label for="inputInvoice" class="form-label">Invoice</label>
                    <input type="text" class="form-control" id="invoice" name="invoice" value="<%= data.invoice %>"
                        readonly>
                </div>
                <div class="col-md-4">
                    <label for="inputTime" class="form-label">Time</label>
                    <input type="text" class="form-control" id="time" name="time"
                        value="<%= moment(data.time).format('YYYY MMMM DD hh:mm:ss') %>" readonly>
                </div>
                <div class="col-md-4">
                    <label for="inputOperator" class="form-label">Operator</label>
                    <input type="text" class="form-control" id="operator" name="operator" value="<%= user.name %>"
                        readonly>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="card-body">
            <form id="saleItemsForm" class="row g-3 ">
                <div class="col-md-4 mb-3">
                    <label for="selectBarcode" class="form-label">Goods Barcode</label>
                    <select name="barcode" class="form-control" id="barcode">
                        <% barcode.forEach(item=> { %>
                            <option value="<%= item.barcode %>">
                                <%= `${item.barcode}-${item.name}` %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="inputBarcodeName" class="form-label">Goods Name</label>
                    <input type="text" class="form-control" id="goodsname" name="goodsname" readonly>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="inputStock" class="form-label">Stock</label>
                    <input type="text" class="form-control" id="stock" readonly>
                </div>
                <div class="col-md-4">
                    <label for="inputSellingPrice" class="form-label">Selling Price</label>
                    <input type="text" class="form-control" id="sellingprice" name="sellingprice">
                </div>
                <div class="col-md-4">
                    <label for="inputQuantity" class="form-label">Qty</label>
                    <input type="text" class="form-control" id="quantity" name="quantity">
                </div>
                <div class="col-md-4">
                    <label for="inputTotalPrice" class="form-label">Total Price</label>
                    <input type="text" class="form-control" id="totalprice" name="totalprice">
                </div>
                <div class="col-md-12 mt-3">
                    <button type="submit" class="btn btn-primary btn-md btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-solid fa-plus"></i>
                        </span>
                        <span class="text">Add</span>
                    </button>
                </div>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Barcode</th>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody id="tablebody">
            </tbody>
        </table>
        <div class="card-footer">
            <form action="" method="post">
                <div class="row mb-3">
                    <label for="inputTotalSum" class="col-sm-2 col-form-label">Total Summary</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="totalsum" name="totalsum" value="<%= data.totalsum %>" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPay" class="col-sm-2 col-form-label">Pay</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="pay" name="pay" value="<%= data.pay %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputChange" class="col-sm-2 col-form-label">Change</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="change" name="change" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputCustomer" class="col-sm-2 col-form-label">Customer</label>
                    <div class="col-sm-10">
                        <select name="customername" class="form-control" id="customername">
                            <% customer.forEach(item=> { %>
                                <option value="<%= item.customerid %>">
                                    <%= item.name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-md btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-solid fa-plus"></i>
                    </span>
                    <span class="text">Finish</span>
                </button>
                <a href="/sales" class="btn btn-warning btn-md btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-solid fa-backward"></i>
                    </span>
                    <span class="text">Back</span>
                </a>
            </form>
        </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script>
        let invoice = '<%= data.invoice %>'
        $(document).ready(() => {
            readTable()
            $('#barcode').change((event) => {
                const barcode = $(event.target).val();
                $.get(`/sales/goods/${barcode}`).done((data) => {
                    $('#goodsname').val(data.name);
                    $('#stock').val(data.stock);
                    $('#sellingprice').val(data.sellingprice);
                    $('#quantity').val(0);
                    $('#totalprice').val(0);
                })
            })
            $('#quantity').keyup((event) => {
                const quantity = $(event.target).val();
                const sellingprice = $('#sellingprice').val()
                $('#totalprice').val(sellingprice * quantity)
            });

            $('#pay').keyup((event) => {
                const pay = $(event.target).val();
                const totalsum = $('#totalsum').val();
                $('#change').val(pay - totalsum)
            })
            $('#saleItemsForm').submit((event) => {
                event.preventDefault()
                const itemcode = $('#barcode').val()
                const quantity = $('#quantity').val()
                $.post('/sales/additems', { invoice, itemcode, quantity }).done((data) => {
                    readTable()
                    $("#totalsum").val(data.totalsum)
                })
            })
        });
        const readTable = () => {
            $.get(`/sales/tables/${invoice}`).done((data) => {
                let html = ''
                data.forEach((item, index) => {
                    html += `
                    <tr>
                        <td>${index + 1}</td>
                        <td>${item.itemcode}</td>
                        <td>${item.name}</td>
                        <td>${item.quantity}</td>
                        <td>${item.sellingprice}</td>
                        <td>${item.totalprice}</td>
                        <td>
                            <a href="#" class="btn btn-circle btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal${item.id}"> 
                                <i class=" fas fa-solid fa-trash"></i>
                            </a>
                            <div class="modal fade" id="deleteModal${item.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Deleted Confirmation</h5>
                                                <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                        </div>
                                        <div class="modal-body">Are you sure, you want delete it ? </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                                            <a class="btn btn-primary" href="/sales/deleteitems/${item.id}">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>                    
                    `
                });
                $('#tablebody').html(html)
            })
        };
    </script>

    <%- include('../partials/footer.ejs') %>